<%= render "shared/header" %>

<%# 投稿一覧 %>
<div class='main'>

    <ul class="content-lists">

      <li class='list'>
        <img src="https://www.shoshinsha-design.com/wp-content/uploads/2020/05/noimage-760x460.png" class='content-img'>
        <div class='content-info-left'>
          <h1 class='content-title'>title/親戚からお年玉</h1>
          <h1 class='name'>name伯父さん</h1>
          <p class='content-text'>text/去年より多く貰って嬉しかった</p>
        </div>
        
        <div class='content-info-light'>
          <h1 class='content-day'>data/2021/3/11</h2>
          <p class='content-money'>money8000円</p>
          <p class='content-category'>category親戚</p>
        </div>
      </li>

    </ul>

</div>
<%# /投稿一覧 %>

<%= render "shared/footer" %>
