<%= render "shared/header" %>

<div class="contents-new-main">
<div class="form-wrap">
  <%= form_with(model: @content, local: true) do |f| %>
  
    <div class='form-header'>
      <h1 class='form-header-text'>投稿情報入力</h1>
    </div>

    <%# 投稿日付け %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">日付け</label>
        <span class="indispensable">必須</span>
      </div>
      <div class="input-date-wrap">
        <%= raw sprintf(
              f.date_select(
              :birth_date,
              use_month_numbers: true,
              pormit:"--",
              start_year: (Time.now.year),
              end_year: 1900,
              date_separator:'%s'),
              "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
    <%# 投稿日付け %>
  <% end %>
  </div>
</div>

<%= render "shared/footer" %>