.top-page-header {
  background-color: gray;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.heder-left {
  width: 50%;
  padding: 20px;
}

.hed-logo {
  font-size: 40px;
  color: mediumturquoise;
  font-family: arial black;
}

.heder-nav {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: center;
}

.nav-lists li {
  list-style: none;
  line-height: 50px;
}

.nav-lists a {
  color: black;
  text-decoration: none;
}

.logout-btn {
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 15px;
}

.log-out {
  width: 100%;
  height: 20px;
}