.top-page-header {
  background-color: gray;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.heder-left {
  width: 50%;
  padding: 20px;
}

.hed-logo {
  font-size: 40px;
  color: mediumturquoise;
  font-family: arial black;
}

.heder-nav {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: center;
}

.nav-lists li {
  width: 100px;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  list-style: none;
  line-height: 50px;
  overflow: hidden;
}

.nav-lists a {
  color: black;
  font-size: 0.7vw;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 15px;
}