.top-page-header {
  background-color: gray;
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.heder-left {
  width: 50%;
  padding: 20px;
}

.hed-logo {
  font-size: 40px;
  color: mediumturquoise;
  font-family: arial black;
}

.heder-nav {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: center;
}

li {
  list-style: none;
}

