<header class="top-page-header">
<div class='heder-left'>
  <div class='hed-logo'>okurimono</div>
</div>
<div class='heder-nav'>
  <ul class="nav-lists">
    <li class='user-name'>
      <%= link_to current_user.nickname, root_path %>
    </li>
    <li class='new-content'>
      <%= link_to "新規投稿", new_content_path %>
    </li>
    <li class='logout-btn'>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log-out" %>
    </li>
  </ul>
</div>
</header>