
/*ヘッダー*/

/*トップページメイン*/
.main {
  height: calc(100vh - 100px - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents-row {
  border: 2px solid blue;
  width: 70%;
  height: 100%;
}

.content-lists {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
}

.content-img {
  padding: 10px;
  height: 180px;
  width: 180px;
}

/*フッダー*/

