
/*ヘッダー*/

/*トップページメイン*/
.main {
  height: calc(100vh - 100px - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-lists {
  height: 100%;
  width: 70%;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
}

.list {
  border: 1px solid blue;
  width: 100%;
  height: 200px;
  display: flex;
}

.content-img {
  padding: 15px;
  height: 100%;
  width: 250px;
}

.content-info-left {
  padding: 15px;
  height: 100%;
  width: 500px;
}

.content-info-light {
  padding: 15px;
  height: 100%;
  width: 500px;
}


/*フッダー*/

/* 共通部分 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
