/*リセットCSS*/

body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/*ヘッダー*/

/*トップページメイン*/
.main {
  height: calc(100vh - 100px - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 投稿内容 */
.content-lists {
  height: 100%;
  width: 70vw;
  background-color: whitesmoke;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content-lists>.list {
  border: 1px solid #888;
  width: 100%;
  height: 250px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.content-img {
  padding: 1vw;
  height: 25vh;
  width: 20vw;
}

.content-info-left {
  height: 100%;
  width: 40%;
  padding: 1vw;
}

.friend-name {
  height: 66px;
  width: 70%;
  margin-left: 20px;
  padding: 10px 15px 10px;
  font-size: 2.5vw;
  line-height: 50px;
}

.content-title {
  height: 66px;
  width: 70%;
  margin-left: 20px;
  padding: 10px 15px 10px;
  font-size: 1.5vw;
  line-height: 50px;
  overflow: auto;
}

.content-text {
  height: 66px;
  width: 70%;
  margin-left: 20px;
  padding: 5px 15px 5px;
  font-size: 0.9vw;
  line-height: 30px;
  color: #888;
  border: 1px solid #888;
  border-radius: 4px;
  overflow: hidden;
}

.text-title {
  margin-left: 25px;
  color: #888;
}

.content-info-light {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1vw;
}

.content-day {
  height: auto;
  width: 40%;
  font-size: 1.2vw;
  margin-left: 40%;
  border-bottom: 1px solid black;
}

.content-money {
  height: auto;
  width: 50%;
  font-size: 1.5vw;
  margin-left: 40%;
}

.content-category {
  height: auto;
  width: 60%;
  color: #888;
  font-size: 1.2vw;
  margin-left: 40%;
}

/*フッダー*/

/* 共通部分 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
