.show-main {
  height: auto;
  background-color: whitesmoke;
}

.content-show {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.show-list {
  height: 100%;
  width: 100%;
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.show-content-light {
height: 100%;
width: 20%;
font-size: 20px;
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 1vw;
}

.show-content-day {
  width: 45%;
  font-size: 1.2vw;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.show-content-money {
  margin-bottom: 25px;
}

.show-content-info-left {
  width: 70%;
  height: 100%;
}

.show-friend-name {
  height: 66px;
  width: 70%;
  margin-left: 20px;
  padding: 10px 15px 10px;
  font-size: 2.5vw;
  line-height: 50px;
}

.show-content-title {
  height: 66px;
  width: 70%;
  margin-left: 20px;
  padding: 10px 15px 10px;
  font-size: 1.5vw;
  line-height: 50px;
  overflow: auto;
}

.show-text-title {
  margin-left: 25px;
  color: #888;
}

.show-content-text {
  height: 100px;
  width: 70%;
  margin-left: 20px;
  padding: 5px 15px 5px;
  font-size: 0.9vw;
  line-height: 30px;
  color: #888;
  border: 1px solid #888;
  border-radius: 4px;
  overflow: hidden;
}

/* 編集・削除・戻るボタン */
.edit-btn-content {
  width: 100%;
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
}

.edit-btn {
  height: 50px;
  width: 20vw;
  font-size: 25px;
  background: mediumturquoise;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-btn {
  height: 50px;
  width: 20vw;
  font-size: 20px;
  background: #aaa;
  color: black;
  margin-left: 30px;
  text-decoration: none;
}

.back-btn-wrap {
  width: 100%;
  height: 80px;
  padding-bottom: 15%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}

.show-back-btn {
  height: 50px;
  width: 20vw;
  font-size: 20px;
  background: #aaa;
  color: #fff;
  text-decoration: none;
}