.show-main {
  height: auto;
  background-color: whitesmoke;
}

.content-show {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.show-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.show-content-light {
height: 100%;
width: 20%;
font-size: 20px;
display: flex;
justify-content: space-between;
flex-direction: column;
padding: 1vw;
}

.show-content-day {
  width: 45%;
  font-size: 1.2vw;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

.show-content-money {
  margin-bottom: 25px;
}

/* 編集・削除・戻るボタン */
.edit-btn-content {
  width: 100%;
  height: 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
}

.edit-btn {
  height: 50px;
  width: 20vw;
  font-size: 25px;
  background: mediumturquoise;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-btn {
  height: 50px;
  width: 20vw;
  font-size: 20px;
  background: #aaa;
  color: black;
  margin-left: 30px;
  text-decoration: none;
}

.back-btn-wrap {
  width: 100%;
  height: 80px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}

.show-back-btn {
  height: 50px;
  width: 20vw;
  font-size: 20px;
  background: #aaa;
  color: #fff;
  text-decoration: none;
}