.content-show-main {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: flex-start;
  overflow: auto;
}

.show-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

/* 編集・削除ボタン */
.edit-btn-content {
  width: 100%;
  height: 180px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
}

.edit-btn {
  height: 50px;
  width: 20vw;
  font-size: 25px;
  background: mediumturquoise;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-btn {
  height: 50px;
  width: 20vw;
  font-size: 20px;
  background: #aaa;
  color: black;
  margin-left: 30px;
  text-decoration: none;
}