.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-color-btn {
  width: 100%;
  height: 50px;
  background: mediumturquoise;
  cursor: pointer;
  font-size: 16px;
}

.sign-btn {
  margin-top: 10px;
  text-align: center;
}

.login-flash-message {
  text-align: center;
  color: red;
}