.registration-main {
  width: 100%;
  min-width: 800px;
  height: calc(100vh - 100px - 100px);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: px;
}

.form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 20px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}