.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.form-wrap {
  width: 50%;
  background-color: white;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 20px;
}

.form-header-text {
  line-height: 100px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 50px;
  line-height: 30px;
  padding: 10px 16px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: none;
}

.input-birth-wrap {
  display: flex;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px;
  cursor: pointer;
}

.register-color-btn {
  width: 100%;
  height: 50px;
  background: mediumturquoise;
  cursor: pointer;
  font-size: 16px;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.register-color-btn {
  width: 100%;
  height: 50px;
  background: mediumturquoise;
  cursor: pointer;
  font-size: 16px;
}